<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://www.dropbox.com/scl/fi/dvk5sojh7devo05a4i2qz/v9.8.0_9.8.0_1772622758.ipa?rlkey=91tt3e3xyb2p5xb4f5wyxefab&amp;st=6e07p6ir&amp;raw=1</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>jp.uuum.playingescape.980</string>
          <key>bundle-version</key>
          <string>9.8.0</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>脱獄ごっこ v9.8.0</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
